body {
    margin: 0;
    font-family: helvetica;
}

li {
    /* list-style: none; */
}
.header {
    height: 120px;
    background-color: #4f4f4f;
    color: #e5e5e5;
    background-image: url(../../folderPenting!/bahanFoto/pexels1/pexels-eric-esma-876228.jpg);
    border-bottom: solid rgb(255, 255, 255);
}

.header-logo img {
    float: left;
    width: 80px;
    padding: 20px 30px;
}

li {
    float: left;
    padding: 20px;
}
.header-list {
    float: left;
    padding: 50px 0px;
}

.main {
    height: 650px;
    background-color: rgb(37, 189, 70);
}

.article {
   
}

.footer {
    height: 130px;
    background-color: #4f4f4f;
    background-image: url(../../folderPenting!/bahanFoto/pexels1/pexels-kai-pilger-2276706.jpg);
    color: #e5e5e5;
    /* memberi garis batas pada elemen div.footer berwarna putih */
    border-top: solid white;
}

.footer-logo img {
    float: left;
    width: 80px;
    padding-top: 30px;
    padding-left: 30px;
}

.footer-list {
    float: left;
    padding-top: 50px;
}

.footer-list li {
    float: left;
}