body {
    font-family: helvetica;
    background-color: rgba(70, 65, 65, 0.815);
    margin: 0;
}
.shadow-box {
    color: white;
    width: 30%;
    box-shadow: 8px 8px 5px grey;
    padding: 20px 30px;
    border: aqua;
    background-image: linear-gradient(green, black);
}
.header {
    background-color: aqua;
    height: 130px;
    color: black;
}
.header-logo img {
    float: left;
    width: 100px;
    padding: 15px;
}
.header-list {
    float: left;
    font-weight: bold;
}
li {
    float: left;
    padding: 35px 20px;
}
.span1 {
    color: red;
}