<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="satu">
        <h3>Judul 1</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iste dicta sint vel accusantium doloremque voluptatum ratione fugiat voluptate? Nesciunt non expedita aspernatur cumque optio temporibus ex eligendi perspiciatis sunt?
    </div>
        
    <div class="dua">
        <h3>Judul 2</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab in mollitia reprehenderit voluptas similique obcaecati aperiam minus magni illum, provident quidem quo. Illum, obcaecati placeat? Ex nam a perferendis ducimus.
    </div>
        
    <div class="tiga">
        <h3>Judul 3</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id non corrupti magnam, ut earum quod possimus soluta obcaecati numquam quia perferendis provident adipisci! Odio vero maiores placeat! Nam, pariatur adipisci!
    </div>
</body>
</html>