<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float layout</title>
    <style>
        .container {
            width: 600px;
            border: 2px solid black;
            margin: auto;
            padding: 10px;
            background-color: blanchedalmond;
            height: 600px;
        }

        .kotak {
            width: 100px;
            height: 100px;
            background-color: lightgreen;
            color: black;
            line-height: 100px;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="kotak">
            1
        </div>
    </div>
</body>
</html>