@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    color: #333;
}

/* CONTAINER */
/* HEADER */

.container {
    margin: auto;
    width: 960px;
    background-color: #fff;
}

.header {
    padding: 20px;
}

.header ul li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
}

.header ul li a {
    color: rgb(61, 61, 61);
    text-decoration: none;
    padding-bottom: 5px;
}

.header ul li a:hover {
    border-bottom: 1px solid black;
}

/* HEADER */
/* CONTAINER */

/* HERO-IMAGE */
.hero {
    height: 350px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -160px;
    border-top: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

/* CONTENT */

.clear {
    clear: left;
}

.content {
    padding: 10px;
}

.main {
    padding: 15px;
    width: 600px;
    box-sizing: border-box;
    border-radius: 5px;
    float: left;
    box-shadow: 0 0 5px black;
}

.main h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.main .penulis {
    line-height: 30px;
}

.main p {
    line-height: 25px;
}

.main a {
    color: salmon;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.bawah {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.bawah span {
    color: red;
    line-height: 35px;
}

/* SIDEBAR */
.sidebar {
    padding: 10px;
    width: 320px;
    box-sizing: border-box;
    border-radius: 5px;
    float: right;
    box-shadow: 0 0 5px black;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 5px;
}

.sidebar img {
    float: left;
    padding-right: 10px;
}

/* SIDEBAR */
/* FOOTER */
.footer {
    color: white;
    background-color: #333;
    padding: 15px;
}

.footer p {
    line-height: 22px;
    text-align: center;
}

/* Micro Clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}