@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    color: #333;
}

/* CONTAINER */
/* HEADER */

.container {
    margin: auto;
    width: 800px;
    background-color: #fff;
}

.header {
    padding: 20px;
}

.header ul li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
}

.header ul li a {
    color: rgb(61, 61, 61);
    text-decoration: none;
}

.header ul li a:hover {
    text-decoration: underline;
    font-weight: 700;
}

/* HEADER */
/* CONTAINER */

/* HERO-IMAGE */
.hero {
    height: 350px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

/* CONTENT */
.content {
    padding: 20px;
}

.content .penulis {
    line-height: 30px;
}

.content a {
    color: salmon;
    text-decoration: none;
}

.content a:hover {
    font-weight: 700;
}