<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Sederhana2</title>
    <link rel="stylesheet" href="webSederhana2.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Heading</h1>
            <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Data</a></li>
                <li><a href="#">Transaksi</a></li>
                <li><a href="#">Laporan</a></li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="content cf">
            <div class="main">
                    <h2>Isi Konten</h2>
                <p class="penulis">Ditulis oleh <a href="#">room 4</a> pada tanggal 13 agustus 2021.</p><br>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores autem a quae quis vitae necessitatibus, molestias nulla aliquid officiis maxime quia fugiat est exercitationem, repellendus corrupti aliquam hic, alias natus nobis ratione inventore ab consectetur dolorum! Autem cum blanditiis nesciunt.</p><br>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit minima, explicabo qui dolores sit labore repellendus consectetur magni animi ea iure non tenetur, sint corrupti? Officia amet quae, vel facere accusamus, consequuntur itaque eum, laudantium eveniet possimus nihil? Vel in natus quam nostrum praesentium quidem! Maxime, vitae iure, vel eveniet eum, fuga nesciunt at repellat voluptas ut consequatur facere dolorum? Quos consequatur deserunt suscipit eos incidunt debitis omnis consequuntur sit maxime. Necessitatibus pariatur tempora debitis at qui minus asperiores provident non voluptates possimus laudantium ratione ipsam odit quos soluta, culpa quasi distinctio. Minima odit ad corporis unde aliquid consectetur?</p><br>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia illum quis, dolorum officiis tempora nisi eligendi quod exercitationem debitis in provident ad nam sint cumque cum ut adipisci expedita maxime nesciunt accusamus. Eveniet hic repellat tenetur aliquid deleniti, sint officiis perspiciatis magni. Velit, cumque. Tempore magnam, non at alias ullam accusantium ut exercitationem nemo deleniti, eaque vel enim? Saepe vel, unde dolore dignissimos facere est, mollitia at aliquid ut, veniam numquam! Amet placeat eos fuga consequuntur cum veritatis dicta pariatur?</p><br>

                <p class="bawah"><span>#HANYACONTOH</span> <br>DATA YANG AKAN DITAMPILKAN <br>AKAN DISESUAIKAN DENGAN KONTEN</p>
            </div>
            <div class="sidebar">
                <h3>Tentang Penulis</h3>
                <img src="../layout/img/daffa.png" alt="Foto Pribadi">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, perspiciatis consectetur sequi nisi non ducimus doloribus voluptas officia dolorum blanditiis sit earum iusto facere facilis neque odio! Aspernatur, illum doloribus.</p>
            </div>
        </div>
        <div class="footer">
            <p class="copy">&#169; Copyright 2021 Room 4 Fitri <br>to Digitalent Kominfo </p>
        </div>
    </div>
</body>
</html>