body {
  font-family: helvetica;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 150px;
  background-image: url(../../folderPenting!/bahanFoto/pexels1/pexels-eric-esma-876228.jpg);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.header-logo img {
  width: 200px;
  padding-top: 7px;
}

.header-logo {
  float: left;
}

.header ul {
  float: right;
  list-style: none;
  padding: 20px;
  padding-right: 40px;
  padding-top: 85px;
}

li {
  font-weight: bold;
}

.header li {
  float: right;
  padding: 30px;
  text-shadow: 5px 5px 5px grey;
}

.main {
  height: 600px;
}

.footer {
  height: 170px;
  background-color: grey;
  color: white;
}

.footer-logo {
  float: left;
}
.footer-logo img {
  width: 140px;
  padding-top: 18px;
}

.footer-list {
  float: right;
  padding-right: 30px;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer li {
  float: right;
  padding: 30px;
  text-shadow: 5px 5px 5px rgb(68, 66, 66);
}

/* class dari li footer yang paling bawah */
.id {
  text-decoration: none;
}
