body {
  font-family: helvetica;
}

* {
  color: white;
  padding: 0;
  margin: 0;
}

.jumbot {
  background-color: grey;
  font-weight: bold;
  padding: 60px;
  text-align: center;
}

.jumbot h1 {
  color: rgb(226, 226, 226);
}

.jumbot p {
  font-size: 20px;
  color: rgb(9, 9, 112);
}


nav {
  background-color: rgb(0, 0, 0);
  padding: 15px;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px grey;
}


li {
  font-weight: bold;
}

article {
  background-color: green;
}

figure {
  background-color: greenyellow;
}

main {
  height: 600px;
}

.footer {
  height: 170px;
  background-color: grey;
  color: white;
}

.footer-logo {
  float: left;
}

.footer-logo img {
  width: 140px;
  padding-top: 18px;
}

.footer-list {
  float: right;
  padding-right: 30px;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer li {
  float: right;
  padding: 30px;
  text-shadow: 2px 2px 2px rgb(68, 66, 66);
}

/* class dari li footer yang paling bawah */
.id a {
  text-decoration: none;
}